# OS general
*/.DS_Store

# Docker container's temp data
docker/*/
!docker/nacos/conf/application.properties

# Test data
testdata/log/

# Develop tools
.vscode/
.idea/
.qoder/
.tmp/
.tmp-gocache/
.tmp-go-cache/
.agents/

# Go workspace
go.work
go.work.sum

# log file
*.log
*.log_lock
*.log_symlink

# log gzip file
*.gz

# project run dir
*run/

# executable files
*.exe