go 1.20

use (
	.
	./crypto/ecc
	./crypto/rsa
	./transport/grpc
	./transport/rpcx
	./registry/consul
	./registry/etcd
	./eventbus/kafka
	./eventbus/nats
	./eventbus/redis
	./network/tcp
	./network/ws
	./network/websocket
	./network/netpoll
	./config/etcd
	./locate/redis
	./log/zap
	./log/tencent
	./log/logrus
	./log/aliyun
)
